<html>
    <body>
        <h2>Customer staying prediction</h2>
    <form method='post'>
      Credit Score: <input type='number' name='in1' placeholder='Credit Score' /></br>
      Age: <input type='number' name='in2' placeholder='age' /></br>
      Tenure: <input type='number' name='in3' placeholder='tenure' /></br>
      Bank Balance: <input type='number' name='in4' placeholder='Bank Balance' /></br>
      Number of products: <input type='number' name='in5' placeholder='Number of products' /></br>
      Credit card?: <input type='number' name='in6' placeholder='1 or 0' /></br>
      Active member?: <input type='number' name='in7' placeholder='1 or 0' /></br>
      salary: <input type='number' name='in8' placeholder='salary' /></br>
      Geography_France: <input type='number' name='in9' placeholder='Geography_France' /></br>
      Geography_Germany: <input type='number' name='in10' placeholder='Geography_Germany' /></br>
      Geography_Spain: <input type='number' name='in11' placeholder='Geography_Spain' /></br>
      Gender_Female: <input type='number' name='in12' placeholder='Gender_Female' /></br>
      Gender_Male: <input type='number' name='in13' placeholder='Gender_Male' /></br>
      <input type='submit'/>
    </form>
<h3>The result is {{ result }}</h3>
</body>
</html>
